.myContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px); /* Ajusta a altura considerando o header */
}

h1 {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.nb .navLink {
    padding: 0rem;
    font-size: 3vw;
}

.secretWord {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.secretWord ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.secretWord li {
    font-size: 2vw;
    letter-spacing: 10px;
    padding: 0 5px;
}

.myKeyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1px 0;
}

.btn {
    background-color: #6f859f;
    color: white;
    border: 0px;
    padding: 1vw;
    margin: 1px;
    font-size: 1vw;
    border-radius: 3px;
    cursor: pointer;
    flex: 1;
    max-width: 9vw;
}

.btn:hover {
    background-color: #1b1846;
}

.btn:disabled {
    background-color: #4f4f4f;
}

/* Ajustes para telas menores */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 3vw;
    }
    .btn {
        padding: 1.2vw;
        font-size: 2vw;
    }
    .secretWord li {
        font-size: 3vw;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 4vw;
    }
    .btn {
        padding: 1.5vw;
        font-size: 2.5vw;
    }
    .secretWord li {
        font-size: 4vw;
    }
}